<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/index.css">
    <!-- <link typs 
    <title>bootstrap project</title> -->
</head>

<body>

    <!--------------------------Header-------------------------->
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h1 id="logo">Nishant Patel</h1>
                </div>

                <div class="col-md-8">
                    <nav>
                    <ul id="menu" class="float-md-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/project">Projects</a></li>
                        <li><a href="/aboutme">About Me</a></li>
                        <li><a href="/contactme">Contact Me</a></li>
                    </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>


   

    <!--------------------------Banner-2-------------------------->

    <div class="container section ">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-head">Projects</h2>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="service-box">
                    <h2>Project 1</h2>
                    <h3>Face recognition system</h3>
                    <p>I have developed the facial recognition system as a part of the project of bachelor's degree. I did this with the group.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="service-box">
                    <h2>Project 2</h2>
                    <h3>Front end Developer</h3>
                    <p>I have worked in front end which is HTML, CSS and javascript in the web application.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="service-box">
                <h2>Project 3</h2>
                <h3>My portfolio</h3>
                <p>I have worked as a front and back end in my portfolio web application.</p>
                </div>
            </div>
        </div>
    </div>

    <!--------------------------Footer--------------------------->
    <div id="footer" align="centre">
        <div class="container">
            <div class="row" >
                <div class="col-md-12">copyright@2021 by Nishant Patel.</div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="./portfolio.js">
    </script>
</body>

</html>